<!DOCTYPE html>
<html>
<head>
    <title>Vídeos</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body class="body">
    <div class="container">
        <div class="video-list">
            <h2>Lista de Vídeos</h2>
            <ul>
                {% for video in videos %}
                    {% if selected_video == video %}
                        <li class="selected">{{ video }}</li>
                    {% else %}
                        <li>{{ video }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="video-wrapper">
            <h2>Vídeo Atual: {{ selected_video }}</h2>
            <div class="video-container">
                <video controls>
                    <source src="{{ url_for('static', filename='videos/' + selected_video) }}" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</body>
</html>
