<!DOCTYPE html>
<html>
<head>
    <title>Pesquisar Palavra-chave</title>
</head>
<body>
    <h1>Pesquisar Palavra-chave</h1>
    <form method="POST" action="/" enctype="multipart/form-data">
        <label for="excel_file">Selecione o arquivo Excel:</label>
        <input type="file" id="excel_file" name="excel_file" accept=".xls,.xlsx">
        <br>
        <label for="keyword">Digite sua busca:</label>
        <input type="text" id="keyword" name="keyword">
        <br>
        <input type="submit" value="Buscar">
    </form>
</body>
</html>
