<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div id="top-menu">
        <div id="weather-info">
            <!-- Adicione a tag de script para a atualização automática das informações -->
            <script>
                function updateWeather() {
                    var weatherInfo = document.getElementById("weather-info");
                    var locationInfo = document.getElementById("location-info"); // Elemento para mostrar a localização
                    fetch('/get_temperature') // Rota para obter informações de temperatura
                        .then(response => response.text())
                        .then(data => {
                            weatherInfo.innerHTML = "Temperatura: " + data;
                        })
                        .catch(error => console.error('Erro:', error));

                    // Obtém a localização
                    fetch('/get_location_info')
                        .then(response => response.json())
                        .then(locationData => {
                            var location = locationData.city + ', ' + locationData.regionName + ', ' + locationData.country;
                            locationInfo.innerHTML = "Localização: " + location;
                        })
                        .catch(error => console.error('Erro:', error));
                }

                // Atualiza as informações de temperatura e localização a cada 5 minutos
                setInterval(updateWeather, 300000); 
                updateWeather(); // Atualiza as informações de temperatura e localização ao carregar a página
            </script>
        </div>
        <div id="location-info">
            Localização: <!-- Localização será preenchida dinamicamente via JavaScript -->
        </div>
        <div id="ip-info">
            Seu IP: {{ client_ip }}
        </div>
    </div>
    <div id="login-container">
        <h2>Login</h2>
        <form id="login-form" method="POST" action="/login">
            <input class="login-input" type="text" name="username" placeholder="Nome de Usuário" required>
            <input class="login-input" type="password" name="password" placeholder="Senha" required>
            <button id="login-button" type="submit">Entrar</button>
            <p id="login-register-link"><a href="/cadastro">Não tem uma conta? Cadastre-se</a>.</p>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
